@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Ubuntu:ital,wght@0,400;0,700;1,700&display=swap');

:root {
  --heading-font: "Kaushan Script";
  --paragraph-font: Ubuntu, Arial, sans-serif;
  --primary-color: #0E2E55;
  --secondary-color: #FE7D15;
  --accent1-color: #3dbde9;
  --accent2-color: #ffffff;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--accent2-color);
  font-family: var(--paragraph-font);
  font-size: 22px;
}

p {
  margin: 0;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

header {
  background-color: var(--primary-color);
}

nav a {
  text-align: center;
  color: var(--accent2-color);
  text-decoration: none;
  padding: 35px;
}

nav a:hover {
  background-color: var(--secondary-color);
  color: var(--accent2-color);
}

.logo, .icon {
  width: 80px;
}

.icon {
  padding-top: 10px;
}

#logo_link {
  padding-top: 5px;
}

#hero-img {
  width: 100%;
}

.home-title, h4 {
  color: var(--primary-color);
}

.home-title {
  font-family: var(--heading-font);
  font-size: 3em;
  margin-top: 10px;
}

.card-img {
  border: 10px solid var(--primary-color);
  border-radius: 15px;
}

.msg {
  line-height: 1.5em;
  padding: 35px;
}

.msg h2, .msg p, footer, footer a {
  color: rgb(225, 225, 225);
}

.msg h2 {
  font-family: var(--heading-font);
}

.msg p {
  font-size: .8em;
  padding-bottom: 15px;
}

.book, .join {
  background-color: var(--secondary-color);
  color: var(--accent2-color);
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover, .join:hover{
  background-color: var(--accent1-color);
}

.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}

#background {
  background-color: var(--secondary-color);
  height: 725px;
}

.msg {
  background-color: var(--primary-color);
}

footer {
  background-color: var(--primary-color);
  padding: 25px 50px;
  margin-top: 200px;
}

footer p {
  font-size: 1.2em;
}

footer a {
  text-decoration: none;
}

footer p a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

footer .social img {
  padding-top: 15px;
}

#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

main section img {
  box-sizing: border-box;
}